<!DOCTYPE html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <meta charset="UTF-8">
        <title>マタニティグッズを取り揃えたショッピングサイト - マタニティグッズクラブ</title>
        <meta name="description" content="もうすぐママになる女性、またはママになりたい女性のためのグッズを取り揃えたショッピングサイトです。購入はヤフーショッピング経由なので安心。">
        <meta name="keywords" content="マタニティ,グッズ,妊娠,赤ちゃん,Baby">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="shortcut icon" href="/images/icn_favicon_01.png">
        <meta property="og:title" content="MoM - マタニティグッズを取り揃えたショッピングサイト">
        <meta property="og:description" content="もうすぐママになる女性、またはママになりたい女性のためのグッズを取り揃えたショッピングサイトです。購入はヤフーショッピング経由なので安心。">
        <meta property="og:url" content="http://mom.maternitygoods.club/">
        <meta property="og:image" content="http://mom.maternitygoods.club/assets/images/ogp_image_01.png">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="MoM">
        <meta property="og:locale" content="ja_JP">
        <meta name="twitter:card" content="summary">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];if(d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1506406802915855&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="Wrapper">
            <%- partial("partials/header") %>
            <section class="Body">
                <div class="Body__left">
                    <div class="Navi">
                        <dl>
                            <dt class="Navi__title">カテゴリ</dt>
                            <dd>
                                <ul class="Navi__lists">
                                    <% categories.forEach(function(category){ %>
                                        <li>
                                            <a class="Navi__list" href="/category/<%= category.id %>"><%= category.name %></a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </dd>
                        </dl>
                    </div>    
                </div>
                <div class="Body__right">
                    <div class="Content">
                        <div class="Breadcrumb">
                            <p>トップ</p>
                        </div>
                        <div class="About">
                            <p class="About__description">
                            MoM マタニティグッズクラブにようこそ！<br>
                            もうすぐママになる女性、またはママになりたい女性のためのグッズをたくさん取り揃えました。<br>
                            購入はヤフーショッピング経由なので安心です。<br>
                            ぜひ掘り出し物を見つけちゃってください♪
                            </p>
                        </div>
                        <div class="Ranking">
                            <h2 class="Ranking__title">週間ランキング</h2>
                            <div class="Goods">
                                <ul class="cf">
                                    <% items.forEach(function(item, index){ %>
                                        <li class="Goods__list">
                                            <a href="<%= item.Url %>">
                                                <p class="Goods__rank"><%= index + 1 %></p>
                                                <img class="Goods__image" src="<%= item.Image.Medium %>" alt="<%= item.Name %>">
                                                <p class="Goods__name"><%= item.Name %></p>
                                                <p class="Goods__review">レビュー<%= item.Review.Count %>件</p>
                                                <img src="http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3200517&pid=883331068" height="1" width="1" Border="0">
                                            </a>
                                        </li>
                                    <% }); %>
                                </ul>
                            </div>    
                        </div>    
                    </div>    
                </div>
            </section>
            <%- partial("partials/footer") %>
        </div>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-18027176-4', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
